.header {
    background-image: url("../img/header.jpg");
    background-position: center;
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}

.profil-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.address {
    margin-left: 30px;
}
.mapouter, .gmap_canvas {
    height: 400px;
}
@media(min-width:576px) {
 
@media(min-width:992px) {

}
