.header {
    background-image: url("../img/header.jpg");
    background-position: center;
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}
h1, h2, h3, h4 {
    font-family: Courgette;
}
div h3 {
    font-family: Courgette ;
}
.articles {
    text-align: center;
    height: 70px;
}
.row div img {
    width: 100%;
}
.side-bar {
    display: none;
}
.row {
    margin-bottom: 10px;
}
@media(min-width:992px) {
    .side-bar {
        display: block;
    }
    .button {
        width: 100%;
    }
    .social-media a{
        padding: 5%;
        color: #000;
    }
}
