@font-face {
    font-family: Oswald;
    src: url(./../fonts/Oswald-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Oswald;
    src: url(./../fonts/Oswald-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Courgette;
    src: url(./../fonts/Courgette-Regular.ttf);
    font-weight: bold;
}
body {
    font-family: Oswald
}
footer {
    padding: 30px;
}

footer {
    margin-top: 20px;
    padding: 20px;;
    background-color:#000000 ;
    color:#ffffff;
}
footer ul {
    list-style: none;
    padding-left: 5px;
    
}
footer ul li a {
    color: white;
    text-decoration: underline;
}

@media(min-width:960px) {
    .social-media {
        display: flex;
        margin-left: 10px;
    }
    .social-media a {
        color: black;
        margin-right: 5px;
        font-size: 19px;
        background-color:white;
        border-radius: 6px;
    }
    .social-media .fa-facebook-square:hover  {
        color: #3b5998 ;
    }
    .social-media .fa-instagram:hover  {
        color: #bc2a8d;
    }
    .social-media .fa-youtube-square:hover  {
        color: red;
    }
    .social-media .fa-twitter:hover  {
        color: #00acee;
    }
}