
.header {
    background-image: url("../img/recipes/paella/paella-small.jpg");
    background-position: center;
   
    
}
a {
    color: white;
}
.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
    
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}
.articles-title {
    padding-bottom: 20px;
}
.row div img {
    width: 100%;
}
.row {
    margin-bottom: 10px;
}
.link-for-more {
    color: grey;
    margin: 20px;
}

@media(min-width:768px) {
    

}
@media(min-width:992px) {
    .content {
        max-width: 960px;
        margin: auto;
    }
    
.img-fluid {
    padding-top: 15px;
}

}
