.header {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
    background-position: center;
    
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.0);
    height: 320px;
}
.jumbotron-text {
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    font-size: 34px;
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}
hr {
    height: 1px;
    background-color: #000000;
    width: 80%;
}
.person {
    width:150px ;
    border-radius: 50%;
}
.your-form {
    width: 100%;
}
.side-bar {
    display: none;
}
.logo-black {
    width: 100px;
    
}
h1, h2, h3, h4 {
    font-family: Courgette;
}
@media(min-width:992px) {
    .side-bar {
        display: block;
    }
    .button {
        width: 100%;
    }
    .social-media a{
        padding: 5%;
        color: #000;
    }
    .row-center {
        margin: 10px 18% 0 10px;
        
        justify-content: center;
    }
}
