.header {
    background-image: url("../img/header.jpg");
    background-position: center;
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
}
.jambotronbackground{
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}
.big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

h1, h2, h3, h4 {
    font-family: Courgette;
}

.preparation-box {
    background-color:  rgb(169, 179, 179);
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.button-type {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

}
.button-type p {
    background-color: rgb(127, 134, 134);
    color: #fff;
    border-radius: 20px;
    margin-right: 5px;
    padding: 2px 10px;
}

.box-3 {
    padding: 10px;
}


.box-4 {
}


.box-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.box-5 div div img {
    width: 300px;
}
.text-over-img {
    position: relative;
    text-align: center;
    columns: white;
}
.text {
    position: absolute;
    bottom: 2px;
    left: 2px;
    padding: 5px 5px 2px 5px;
    color: rgb(187, 161, 161);
    background-color: rgba(0, 0, 0, 0.6);
}

.box-6 {
    display: none;
}




@media(min-width:576px) {
    .box-5{
        justify-content: space-around;
    }

    
    .preparation-box {
        background-color:  rgb(169, 179, 179);
        width: 180px;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media(min-width:768px) {
    .desptop-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .box-5{
        justify-content: space-around;
    }
    .box-6 {
        display: block;
        width: auto;
        margin: auto 10px;
    }
    .button {
        width: 100%;
    }
    
    .social-media a{
        padding: 5%;
        color: #000;
    }
}