.header {
    background-image: url("../img/header.jpg");
    background-position: center;
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.7);
}
.logo-img {
    width: 100px;
    height: 100px;
}
.jumbotron-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Courgette ;
}
h1, h2, h3, h4 {
    font-family: Courgette;
}

.profil-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preparation {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
}
.preparation p {
    background-color:  rgb(169, 179, 179);
    width: 80px;
    padding: 10px;
    text-align: center;
}
.button-type {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

}
.button-type p {
    background-color: rgb(127, 134, 134);
    color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 10px;
}

.text-bottom {
    align-items: center;
}

.first-photo {
    background: url(../img/recipes/sponsored/dessert1.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
}
.second-photo {
    background: url(../img/recipes/sponsored/side1.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
}
.third-photo {
    background: url(../img/recipes/sponsored/dessert2.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
}
.side-bar {
    display: none;
}
.address {
    padding-left: 20px;
}
.main-container div div {
    margin: auto 10px;
}
@media(min-width:576px) {
    .profil-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }   
    .profil-flex div {
        padding: 20px;
    }   
}
@media(min-width:992px) {
    .side-bar  {
        display: block;
        width: 20%;
    }
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 20px;
    }
    .button {
        width: 100%;
    }
    .social-media a{
        padding: 5%;
        color: #000;
    }
    .row-center {
        margin: 10px 18% 0 10px;        
        justify-content: center;
    }
}
