.header {
    background-image: url("../img/team/team.jpg");
    background-position: center;
    
}

.text-logo {
    color: #ffffff;
    font-family: Courgette;
    font-size: 24px;
}
.navbackground {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
}
.jambotronbackground {
    background-color: rgba(0, 0, 0, 0.8);
    height: 320px;
}
.jumbotron-text {
    align-items: center;
    color: #FFFFFF;
    
    text-align: center;
    margin-top: 50px;
    font-size: 34px;
}

.jumbotron-text1 {
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    font-size: 34px;
}
h1, h2, h3, h4 {
    font-family: Courgette;
}
img {
    height: 250px;
    border-radius: 50%;
}
.text-wrap {
    float: left;
    margin: 20px;
}

.side-bar {
    display: none;
}
.phototeam p {
    text-align: justify;
}
@media(min-width:960px) {
    .side-bar {
        display: block;
    }
    .button {
        width: 100%;
    }
    .social-media a {
        color: black;
        padding: 5px;
        font-size: 19px;
    }
    .social-media .fa-facebook-square:hover  {
        color: #3b5998 ;
    }
    .social-media .fa-instagram:hover  {
        color: #bc2a8d;
    }
    .social-media .fa-youtube-square:hover  {
        color: red;
    }
    .social-media .fa-twitter:hover  {
        color: #00acee;
    }
}